body {
    margin: 0;
    font-size: 20px;
    display: flex;
    min-height: 100vh;
}
main {
    flex: 1;
    width: 700px;
    margin: 0 auto;
    border: solid 1px black;
}
ul {
    list-style: none;
    padding: 0 ;
    margin: 0%;
}
div {
    border: solid 1px black;
    height: 300px;
    margin-top: auto;
}
ul li {
    border: solid 1px black;
}
aside {
    width: 20%;
    min-height: 250px;
    display: flex;
    flex-direction: column;
}
footer {
    display: none;
}


@media screen and (max-width: 800px){
    body {
        height: 1500px;
        flex-direction: column;
    }
    main {
        width: 100%;
        flex: 1;
    }
    footer {
        display: block  ;
        margin-bottom: 3px;
    }
    div {
        display: none;
    }
    aside {
        position: fixed;
        width: 100%;
        bottom: -217.5px;
    }
    ul {
        display: flex;
    }
    li {
        flex: 1;
    }
}

